.container {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    overflow: scroll;
  }
  
  
  @media screen and (max-width: 768px) {
  
    .container {
      overflow: scroll;
      padding: 0px 10px;
      padding-bottom: 100px !important;
    }
  }
  